

        
<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  



<div class="form-group">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div>
    <%= f.label :duration %>
    <%= f.number_field :duration, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div>
    <%= f.label :genre_id %>
    <%= f.text_field :genre_id, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div>
  <%= collection_select(:song, :id, Song.all, :id, :name) %>
  </div>
</div>
<div class="actions">
  <%= f.submit "Crear cancion",:class => "btn btn-default" %>
</div>

  
<% end %>

